@font-face{
    font-family: 'fonte';
    src: url('fonte/Inter/');
    font-weight: normal;
    font-style: normal;
}
body{
    padding: 0px;
    margin: 0px;
    font-family: 'inter',sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.menu{
    width: 100%;
    box-shadow:  1px -15px 100px #00AEFF ,1200px -40px 100px #002447,400px -35px 100px #004C99;
    
}
.item_menu{
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;
    margin-top: 22px;
    font-weight: bold;   
}
.menu1{
    margin-right: 200px;
    font-size: 20px;
    color: darkblue;
}
 .menu2{
    margin-right: 200px;
}
 .menu3{
    margin-right: 200px;
}
 .menu4{
    margin-right: 200px;
}
 .menu5{
    margin-right: 100px;
}
 .menu{ 
    border: 1px solid rgb(218, 218, 218);
    height: 130px;
}
 .img_perfil{  
    width: 50px;
    border-radius: 50px;
}
 .icone_perfil{
   width: 40px; 
    
}
.img_logo{  
    width: 5%;
}
.primeiro{
    margin-left: 25px;
    margin-top: 50px;
    font-size: 25px;
}
.rank_perfil{
    width: 15%;
    border-radius: 10px;
    margin-left: 20px;
}
.estrelas{
    list-style: none;
    display:flex;
    margin-top: 15px;
    margin-left: 45px;
}   
.estrelaA{
    width: 2%;
    margin-left: 5px;
    
}
.nomeP{
    width: 200px;
    margin-left: 25px;
    border: 1px solid  rgb(197, 197, 197);
    border-radius: 20px;
    padding: 10px;
    padding-right: 0px;
    padding-left: 42px;
}
.inf_S{
    width: 400px;
    list-style: none;
    border: 1px solid   rgb(197, 197, 197);
    border-radius: 20px;
    padding: 20px;
    margin-left: 20px;
}
.inf_L{
    margin-top: 20px;
}
.inf{
    display: grid;
    margin-top: 20px;
   
}
.filtroL{
    list-style: none;
}
.filtroT{
    font-size: 20px;
    margin-bottom: 25px;
}